NEXT_PUBLIC_SUPABASE_URL=your_supabase_urlsb_publishable_txMFn9HT7fvHoiUSQ8rokg_QUHEMhfK
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_keyeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZXBwdmpheXp4bGJsa2VhbnhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNzYyMDcsImV4cCI6MjA4NjY1MjIwN30.gL5j6E9nlQH7JPfvzE0kqgjlgCFjL0e3p-hu039O6K0

R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_key
R2_BUCKET_NAME=your_r2_bucket_name
R2_PUBLIC_URL=your_r2_public_url

RESEND_API_KEY=your_resend_api_key

LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_token
LINE_CHANNEL_SECRET=your_line_channel_secret
